
.container {
    margin-top: 40px;
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}


.card {
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background: linear-gradient(to right, #6a82fb, #fc5c7d);
    color: white;
    font-size: 1.2em;
}

.card-body {
    padding: 20px;
    background-color: #f8f9fa;
}

.card-title {
    margin-bottom: 15px;
    color: #333;
}

.card-text {
    color: #666;
    margin-bottom: 20px;
}

.btn {
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.btn-outline-primary, .btn-outline-secondary {
    border: none;
}



.btn-secondary, .btn-outline-secondary:hover {
    background-color: #6a82fb;
    color: white;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #555;
    color: #fff;
}
