{% extends "layout.html" %}

{% block body %}

<div class="container" style="margin-top: 40px;">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Animales</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Animal</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de animales</p>
          <a href="/animal" class="btn btn-secondary btn-outline-primary">Ir a Animal</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Nutrientes</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Nutriente</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de nutrientes</p>
          <a href="/nutriente" class="btn btn-secondary btn-outline-secondary">Ir a Nutriente</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Animal-Nutriente</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Animal_Nutriente</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de Animal_Nutriente</p>
          <a href="/animal_nutriente" class="btn btn-secondary btn-outline-primary">Ir a Animal_Nutriente</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Alimento</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Alimento</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de alimento</p>
          <a href="/alimento" class="btn btn-secondary btn-outline-secondary">Ir a Alimento</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Nutriente-Alimento</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Nutriente_Alimento</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de Nutriente_Alimento</p>
          <a href="/nutriente_alimento" class="btn btn-secondary btn-primary">Ir a Nutriente_Alimento</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Toma</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Toma</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de toma</p>
          <a href="/toma" class="btn btn-secondary btn-outline-secondary">Ir a Toma</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Dieta</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Dieta</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de dieta</p>
          <a href="/dieta" class="btn btn-secondary btn-primary">Ir a Dieta</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-secondary mb-3">
        <div class="card-header bg-secondary text-white">Gestión de Alimento-Dieta-Toma</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Alimento_Dieta_Toma</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de alimento_dieta_toma</p>
          <a href="/alimento_dieta_toma" class="btn btn-secondary btn-outline-secondary">Ir a Alimento_Dieta_Toma</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">Gestión de Dieta-Animal-FechaInicio</div>
        <div class="card-body">
          <h4 class="card-title">Tabla Dieta_Animal_FechaInicio</h4>
          <p class="card-text">Aquí podrás ver, añadir, editar y eliminar información de la tabla de dieta_animal_fechaInicio.</p>
          <a href="/dieta_animal_fechaInicio" class="btn btn-secondary btn-primary">Ir a Dieta_Animal_FechaInicio</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
